  <table>
    {{#players}}
      <tr data-test="player-{{name}}" data-test-2="player">
        <td>
          <object class="avatar" data-test="avatar" data="https://minotar.net/avatar/{{name}}/100.png" type="image/png">
            <img src="/images/defaultAvatar.png" />
          </object>
        </td>
        <td data-test="player-name">{{name}} </td>
        <td data-test="advancements">
          {{#advancements}}
            <a href="{{link}}" target="_blank" class="advancement {{class}}" title="{{title}} : {{description}}" data-test="{{ref}}"></a>
          {{/advancements}}
        </td>
        <td data-test="score">{{score}}</td>
      </tr>
    {{/players}}
  </table>

