<div id="flight-track-detail">
    <h2 data-test="course">{{course}}</h2>
    <table>
        {{#times}}
            <tr>
                <td>
                    <object data-test="avatar" data="https://minotar.net/avatar/{{player}}/100.png" type="image/png">
                        <img src="/images/defaultAvatar.png" />
                    </object>
                </td>
                <td data-test="player-name">{{player}} </td>
                <td data-test="player-time">{{time}} </td>
            </tr>
        {{/times}}
        {{^times}}
            <div data-test="no-records" class="waiting">
                <p>WAITING FOR RECORDS ....</p>
            </div>
        {{/times}}
    </table>
</div>