/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Minecraft Regular";
  src: url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Minecraft Regular";
  text-align: center;
}

th {
  display: none;
}

tr {
  height: 110px;
}

td {
  width: 25%;
  font-size: x-large;
}

h1, h3, table {
  text-align: center;
  padding: 10px 0 10px 0;
}

table {
  width: 100%;
}

#loading {
  font-size: x-large;
}

.copyright {
  margin: 100px 30px;
}

.copyright p {
  display: none;
}

#container
{
  width: 300px;
  height: 200px;
  border: solid 1px #000;
  position: relative;
}

.waiting {
  background-repeat: no-repeat;
  background-position-x: 50%;
  padding-top: 320px;
}

/* Background */
.obsidian {
  background-image: url('../images/obsidian_block.jpeg');
  color: white;
}

.obsidian .waiting {
  background-image: url('../images/creeper_green.png');
}

.netherrack {
  background-image: url('../images/netherrack_block.png');
  color: white;
}

.netherrack .waiting {
  background-image: url('../images/creeper_blue.png');
}

.prismarine {
  background-image: url('../images/prismarine_block.png');
  color: white;
}

.prismarine .waiting {
  background-image: url('../images/creeper_blue.png');
}

.lapis {
  background-image: url('../images/lapis_block.jpeg');
  color: white;
}

.lapis .waiting {
  background-image: url('../images/creeper_red.png');
}

/* Advancements */

.advancement {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/InvSprite.png');
  background-color: white;
  width: 32px;
  height: 32px;
  vertical-align: super;
  border-style: outset;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.minecraft-story-root{
  background-position:-640px -960px;
}
.minecraft-story-mine_stone{
  background-position:-384px -1216px;
}
.minecraft-story-upgrade_tools{
  background-position:-256px -1216px;
}
.minecraft-story-smelt_iron{
  background-position:-224px -1120px;
}
.minecraft-story-obtain_armor{
  background-position:-128px -32px;
}
.minecraft-story-lava_bucket{
  background-position:-896px -640px;
}
.minecraft-story-iron_tools{
  background-position:-992px -1184px;
}
.minecraft-story-deflect_arrow{
  background-position:-992px -960px;
}
.minecraft-story-form_obsidian{
  background-position:-896px -960px;
}
.minecraft-story-mine_diamond{
  background-position:-992px -1088px;
}
.minecraft-story-enter_the_nether{
  background-position:-736px -1184px;
}
.minecraft-story-shiny_gear{
  background-position:-832px -0px;
}
.minecraft-story-enchant_item{
  background-position:-608px -1184px;
}
.minecraft-story-cure_zombie_villager{
  background-position:-32px -832px;
}
.minecraft-story-follow_ender_eye{
  background-position:-640px -1184px;
}
.minecraft-story-enter_the_end{
  background-position:-64px -800px;
}

.minecraft-adventure-root{
  background-position:-576px -1184px;
}
.minecraft-adventure-kill_a_mob{
  background-position:-256px -1280px;
}
.minecraft-adventure-trade{
  background-position:-0px -1120px;
}
.minecraft-adventure-sleep_in_bed{
  background-position:-608px -1568px;
}
.minecraft-adventure-shoot_arrow{
  background-position:-992px -1248px;
}
.minecraft-adventure-kill_all_mobs{
  background-position:-192px -1280px;
}
.minecraft-adventure-totem_of_undying{
  background-position:-192px -1408px;
}
.minecraft-adventure-summon_iron_golem{
  background-position:-96px -1056px;
}
.minecraft-adventure-adventuring_time{
  background-position:-800px -0px;
}
.minecraft-adventure-sniper_duel{
  background-position:-576px -1248px;
}
.minecraft-adventure-voluntary_exile{
  background-position:-96px -2464px
}
.minecraft-adventure-ol_betsy{
  background-position:-416px -2368px
}
.minecraft-adventure-hero_of_the_village{
  background-position:-96px -2464px
}
.minecraft-adventure-throw_trident{
  background-position:-608px -1696px
}
.minecraft-adventure-two_birds_one_arrow{
  background-position:-416px -2368px
}
.minecraft-adventure-whos_the_pillager_now{
  background-position:-416px -2368px
}
.minecraft-adventure-arbalistic{
  background-position:-416px -2368px
}
.minecraft-adventure-very_very_frightening{
  background-position:-608px -1696px
}
.minecraft-adventure-honey_block_slide{
  background-position:-320px -96px
}

.minecraft-nether-root{
  background-position:-704px -1344px;
}
.minecraft-nether-fast_travel{
  background-position:-576px -1184px;
}
.minecraft-nether-find_fortress{
  background-position:-320px -992px;
}
.minecraft-nether-return_to_sender{
  background-position:-672px -1184px;
}
.minecraft-nether-obtain_blaze_rod{
  background-position:-448px -640px;
}
.minecraft-nether-get_wither_skull{
  background-position:-224px -960px;
}
.minecraft-nether-uneasy_alliance{
  background-position:-544px -640px;
}
.minecraft-nether-brew_potion{
  background-position:-96px -1088px;
}
.minecraft-nether-summon_wither{
  background-position:-352px -1120px;
}
.minecraft-nether-all_potions{
  background-position:-928px -640px;
}
.minecraft-nether-create_beacon{
  background-position:-544px -1216px;
}
.minecraft-nether-all_effects{
  background-position:-864px -640px;
}
.minecraft-nether-create_full_beacon{
  background-position:-544px -1216px;
}

.minecraft-end-root{
  background-position:-64px -800px;
}
.minecraft-end-kill_dragon{
  background-position:-128px -960px;
}
.minecraft-end-dragon_egg{
  background-position:-992px -768px;
}
.minecraft-end-enter_end_gateway{
  background-position:-32px -1120px;
}
.minecraft-end-respawn_dragon{
  background-position:-448px -1344px;
}
.minecraft-end-dragon_breath{
  background-position:-864px -1056px;
}
.minecraft-end-find_end_city{
  background-position:-416px -896px;
}
.minecraft-end-elytra{
  background-position:-384px -1344px;
}
.minecraft-end-levitate{
  background-position:-32px -1408px;
}

.minecraft-husbandry-root{
  background-position:-832px -864px;
}
.minecraft-husbandry-breed_an_animal{
  background-position:-544px -832px;
}
.minecraft-husbandry-tame_an_animal{
  background-position:-32px -1216px;
}
.minecraft-husbandry-plant_seed{
  background-position:-544px -832px;
}
.minecraft-husbandry-bred_all_animals{
  background-position:-640px -640px;
}
.minecraft-husbandry-balanced_diet{
  background-position:-672px -800px;
}
.minecraft-husbandry-break_diamond_hoe{
  background-position:-480px -1184px;
}
.minecraft-husbandry-fishy_business{
  background-position:-448px -3552px
}
.minecraft-husbandry-complete_catalogue{
  background-position:-896px -1664px
}
.minecraft-husbandry-tactical_fishing{
  background-position:-704px -1664px
}
.minecraft-husbandry-safely_harvest_honey{
  background-position:-896px -32px
}
.minecraft-husbandry-silk_touch_nest{
  background-position:-992px -32px
}


/* Stats */

.stat {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url('../images/StatSpriteMap.png');
  width: 64px;
  height: 64px;
}

.playerKills {
  background-position: 0px 0px;
}

.useItem_minecraft_diamond_sword {
  background-position: -64px -0px;
}

.deaths {
  background-position: -128px -0px;
}




