/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Minecraft Regular";
  src: url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Minecraft Regular";
  background-image: url('../images/obsidian_block.jpeg');
  color: white;
  text-align: center;
}

th {
  display: none;
}

tr {
  height: 110px;
}

td {
  width: 25%;
  font-size: x-large;
}

h1, h3, table {
  text-align: center;
  padding: 10px 0 10px 0;
}

table {
  width: 100%;
}

#loading {
  font-size: x-large;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.copyright p {
  display: none;
}

#container
{
  width: 300px;
  height: 200px;
  border: solid 1px #000;
  position: relative;
}

/* Advancements */

.advancement {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url('../images/InvSprite.png');
  width: 34px;
  height: 34px;
}

.minecraft-story-root{
  background-position:-640px -960px;
}
.minecraft-story-mine_stone{
  background-position:-384px -1216px;
}
.minecraft-story-upgrade_tools{
  background-position:-256px -1216px;
}
.minecraft-story-smelt_iron{
  background-position:-224px -1120px;
}
.minecraft-story-obtain_armor{
  background-position:-128px -32px;
}
.minecraft-story-lava_bucket{
  background-position:-896px -640px;
}
.minecraft-story-iron_tools{
  background-position:-992px -1184px;
}
.minecraft-story-deflect_arrow{
  background-position:-992px -960px;
}
.minecraft-story-form_obsidian{
  background-position:-896px -960px;
}
.minecraft-story-mine_diamond{
  background-position:-992px -1088px;
}
.minecraft-story-enter_the_nether{
  background-position:-736px -1184px;
}
.minecraft-story-shiny_gear{
  background-position:-832px -0px;
}
.minecraft-story-enchant_item{
  background-position:-608px -1184px;
}
.minecraft-story-cure_zombie_villager{
  background-position:-32px -832px;
}
.minecraft-story-follow_ender_eye{
  background-position:-640px -1184px;
}
.minecraft-story-enter_the_end{
  background-position:-64px -800px;
}
.minecraft-adventure-root{
  background-position:-576px -1184px;
}
.minecraft-adventure-kill_a_mob{
  background-position:-256px -1280px;
}
.minecraft-adventure-trade{
  background-position:-0px -1120px;
}
.minecraft-adventure-sleep_in_bed{
  background-position:-608px -1568px;
}
.minecraft-adventure-shoot_arrow{
  background-position:-992px -1248px;
}
.minecraft-adventure-kill_all_mobs{
  background-position:-192px -1280px;
}
.minecraft-adventure-totem_of_undying{
  background-position:-192px -1408px;
}
.minecraft-adventure-summon_iron_golem{
  background-position:-96px -1056px;
}
.minecraft-adventure-adventuring_time{
  background-position:-800px -0px;
}
.minecraft-adventure-sniper_duel{
  background-position:-576px -1248px;
}

/* Stats */

.stat {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url('../images/StatSpriteMap.png');
  width: 64px;
  height: 64px;
}

.playerKills {
  background-position: 0px 0px;
}

.useItem_minecraft_diamond_sword {
  background-position: -64px -0px;
}

.deaths {
  background-position: -128px -0px;
}




