{{<layout}}

{{$applicationContent}}
<div data-test="main-content"></div>

<h1><img src="{{{ assetPath }}}images/leaderboard.png"></h1>

{{<gliderRiderDetail}}{{/gliderRiderDetail}}

{{/applicationContent}}
{{/layout}}
