{{<layout}}

{{$applicationContent}}
<div data-test="main-content"></div>

<h1><img data-test="banner" src="{{{ assetPath }}}images/{{{banner}}}"></h1>

{{<gliderRiderDetail}}{{/gliderRiderDetail}}

{{/applicationContent}}
{{/layout}}
