{{<layout}}

{{$applicationContent}}

<h1><img src="{{{ assetPath }}}images/leaderboard.png"></h1>

<h3 id="server-details"></h3>

<div id="loading">
    <img src="{{{ assetPath }}}images/creeper.png" align="middle">

    <p>LOOKING FOR PLAYERS ....</p>
</div>
<div id="stats"></div>

{{/applicationContent}}

{{/layout}}
