{{<layout}}

{{$applicationContent}}

<h1><img src="{{{ assetPath }}}images/leaderboard.png"></h1>

<h3 data-test="server-details" id="server-details">{{serverDetails}}</h3>

{{#waitingForPlayers}}
    <div data-test="waiting-for-players">
        <img src="{{{ assetPath }}}images/creeper.png" align="middle">
        <p>WAITING FOR PLAYERS ....</p>
    </div>
{{/waitingForPlayers}}
{{^waitingForPlayers}}
<div id="stats">
    <table>
        {{#players}}
            <tr data-test="player-{{name}}" data-test-2="player">
                <td>
                    {{#offline}}<img data-test="avatar" src="/images/defaultAvatar.png">{{/offline}}
                    {{^offline}}<img data-test="avatar" src="https://minotar.net/avatar/{{name}}/100.png">{{/offline}}
                </td>
                <td data-test="player-name">{{name}}</td>
                <td data-test="achievements">
                    {{#achievements}}
                        <span class="achievement {{class}}"></span>
                    {{/achievements}}
                </td>
                <td data-test="score">{{score}}</td>
            </tr>
        {{/players}}
    </table>
</div>
{{/waitingForPlayers}}

{{/applicationContent}}

{{/layout}}
