{{<layout}}

{{$applicationContent}}

<h1><img src="{{{ assetPath }}}images/leaderboard.png"></h1>

<h3 id="server-details">A Minecraft Server : PORT</h3>

<div id="loading" style="display: none">
  <img src="{{{ assetPath }}}images/creeper.png" align="middle">

  <p>LOOKING FOR PLAYERS ....</p>
</div>
<div id="stats">
  <table>
    <tr>
      <td><img src="https://minotar.net/avatar/MajorSlackmore/100.png"></td>
      <td>MajorSlackmore</td>
      <td><span class="achievement overpowered"></span></td>
      <td>100</td>
    </tr>
  </table>
</div>

{{/applicationContent}}

{{/layout}}
