<html>

{{$head}}
<link href="{{{ assetPath }}}stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
{{/head}}

<body class="{{backgroundStyle}}">
{{>googleTagManager}}

{{$content}}
<main id="content">
{{$applicationContent}}{{/applicationContent}}
</main>
{{/content}}

<script type="text/javascript" src="{{{ assetPath }}}javascript/main.js"></script>
</body>

<footer class="copyright">
    <object data="http://minecraft.staticvoid.co.uk/copyright/leaderboard.png" type="image/png">
        <img src="{{{ assetPath }}}images/obsidian_block.jpeg" />
    </object>
    <p>built and maintained by Static Void</p>
    <p>Contact: <a href="admin@staticvoid.co.uk">admin@staticvoid.co.uk</a>.</p>
</footer>

</html>