<html>

{{$head}}
<link href="{{{ assetPath }}}stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
{{/head}}

<body class="{{backgroundStyle}}">
{{>googleTagManager}}

{{$content}}
<main id="content">
{{$applicationContent}}{{/applicationContent}}
</main>
{{/content}}

<script type="text/javascript" src="{{{ assetPath }}}javascript/main.js"></script>
</body>

<footer class="copyright">
	<a href="http://www.staticvoid.co.uk" target="_blank">
	    <object data="http://minecraft.staticvoid.co.uk/copyright/leaderboard.gif"  type="image/gif">
	    	<img src="{{{ assetPath }}}images/obsidian_block.jpeg" />
	    </object>
    </a>    
    <p>built and maintained by Static Void</p>
    <p>Contact: <a href="admin@staticvoid.co.uk">admin@staticvoid.co.uk</a>.</p>
</footer>

</html>